{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="max-w-md mx-auto mt-8 bg-white rounded-md overflow-hidden shadow-md">
    <div class="py-4 px-6">
        {% if error %}
            <div class="mb-4 text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-4">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-3xl font-bold mb-4">Please sign in</h1>
        <div class="mb-4">
            <label class="block font-bold mb-2" for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="bg-gray-100 py-2 px-4 rounded-md w-full" autocomplete="username" required autofocus>
        </div>
        <div class="mb-4">
            <label class="block font-bold mb-2" for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="bg-gray-100 py-2 px-4 rounded-md w-full" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="mb-4">
            <label class="inline-flex items-center font-bold">
                <input type="checkbox" name="_remember_me" class="form-checkbox">
                <span class="ml-2">Remember me</span>
            </label>
        </div>
        <div class="text-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Sign in</button>
        </div>
    </div>
</div>
{% endblock %}
