{% extends 'base.html.twig' %}

{% block body %}
<div class="container mx-auto py-4">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-400 mt-6">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Titre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Categories
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date de modification
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date de publication
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr onclick="window.location = '/post/{{ post.slug }}'" class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
                    <td class="px-6 py-4 whitespace-nowrap text-white cursor-pointer">
                        {{post.title}}
                    </td>
                    <td class="px-6 py-4 cursor-pointer">
                        {%for category in post.categories %}
                            {{ category.generateHTMLTag()|raw}}
                        {% endfor %}
                    </td>
                    <td class="px-6 py-4 cursor-pointer">
                        {{ post.updatedAt|date('d/m/Y \\à G\\hi') }}
                    </td>
                    <td class="px-6 py-4 cursor-pointer">
                        {% if post.publishedAt is not null %}
                        {{ post.publishedAt|date('d/m/Y \\à G\\hi') }}
                        {% else %}
                            <p>Non publié</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
